@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  
}

.custom-img{
  background-image: url("https://wallpapers.com/images/featured/dslr-camera-background-tpnqv4eprflkulj8.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.custom-img-shop{
  background-image: url("https://i.blogs.es/939c44/datos-mercado-cipa-mayo-2021/1366_2000.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.img{
  width: 1440px;
  height: 350px;
  object-fit: cover;
}
